<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Homepage</title>
</head>
<body>
<form method="post" action="{% url 'ex1:homepage' %}">
{% csrf_token %}
    <lable>用户名:</lable>
    <input name="username" required></input>
    <br>
    <lable>密码：</lable>
    <input name="password" type="password" required></input>
    <br>
    <button type="submit">确认登录</button>
    <a href="http://127.0.0.1:8000/ex1/homepage/register/"><button type="button">注册账号</button></a>
    <br>
    <br>
    {% if messages %}
        <script>
            {% for msg in messages %}
                alert('{{ msg.massage }}')
            {% endfor %}
        </script>
    {% endif %}

    {% if error %}
    {{ error }}
    {% endif %}

</form>
</body>
</html>